Bottles
Bottles.Services
DotNetZip
FubuCore
FubuCsProjFile
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.StructureMap
HtmlTags
Microsoft.Bcl
Microsoft.Bcl.Build
Microsoft.Net.Http
Newtonsoft.Json
Owin
Owin.Extensions
Owin.Types
Selenium.WebDriver
structuremap
