Bottles
Bottles.Services
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.SelfHost
FubuMVC.StructureMap
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
Owin
Owin.Extensions
structuremap
